<%- include("partials/header.ejs") %>

    <section rel="stylesheet" href="style.css" >
      <div id="abaPomodoro">

        <div id="timer">
          <p id="minutos">00</p>
          <p>:</p>
          <p id="segundos">00</p>
        </div>

        <div class="painel">
          <button id="pomotimer" onclick="start('pom')">Pomodoro</button>
          <button id="descanso" onclick="start('des')">Descanso</button>
        </div>

      </div>

      </div>
    </section>

    <script src="pomodora.js"></script>
</body>

</html>