<%- include("partials/header.ejs") %>

<section>
    <div class="container" id="login">
        <h2>Entrar</h2>

        <!--<input type="email" placeholder="Email" />
        <input type="senha" placeholder="Senha" />
        <button id="botaoLogin">Confirmar</button>-->

        <form action="" method="post">
            <input class ="areaForm" type="email" name="email" placeholder="Email">
            <input class ="areaForm" type="password" name="password" placeholder="Senha">            
            <input class ="areaForm" id="mensagem" type="text" name="name" placeholder="Digite sua mensagem">
          <button type = "submit" id="enviar">Enviar</button>
        </form>
    </div>

<!--   <div class="container" id="cadastro">
        <h2>Cadastro</h2>

        <input type="email" placeholder="Email" />
        <input type="senha" placeholder="Senha" />
        <button id="botaoCadastro">Confirmar</button>
    </div>
</section>
<script src="pomodora.js"></script>--> 

</body>
</html>
